{% extends "layout.html" %}
{% load static %}
{% block title %}index{% endblock title %}

{% block css_file %} <link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock css_file %}

{% block content %}
 <div class="container mt-2">
  
        {% comment %} <p>{{now|date:"D d M Y"}}</p> {% endcomment %}
      
           
     <div class="row">
        
        {% if error %}

        <p>lütfen formu doldurunuz</p>
          {% endif %}
          <!--   <form action="create" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control " id="name" name="name" maxlength="50" >
                </div>
    
               
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control " id="price" name="price"  >
                </div>
    
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" maxlength="200" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="slug" class="form-label">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" required>
                </div> 
                {% comment %} 
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl" maxlength="50">
                </div>
    
                
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="isActivate" name="isActivate">
                    <label class="form-check-label" for="isActivate">Is Active</label>
                </div>
    
               
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select multiple class="form-select" id="category" name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                
                <div class="mb-3">
                    <label for="supplier" class="form-label">Supplier</label>
                    <select class="form-select" id="supplier" name="supplier">
                        {% for supplier in suppliers %}
                            <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
              
                <div class="mb-3">
                    <label for="slug" class="form-label">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" required>
                </div> {% endcomment %}
    
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form> -->
           
         </div>
        
 
 
</div> 
{% endblock%}
{% block js_scripts %}<script src="{% static "js/script.js" %}"></script>{% endblock js_scripts %}