{% extends "layout.html" %}
{% load static %}
{% block title %}index{% endblock title %}

{% block css_file %} <link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock css_file %}

{% block content %}
 <div class="container mt-2">
  
        {% comment %} <p>{{now|date:"D d M Y"}}</p> {% endcomment %}
      
           
            <div class="row">
                <div class="col-4">
            {%for product in products%}
            {% if product.isActivate %}
            <a class="btn btn-primary" href={% url "details" slug=product.slug%}>{{product.name}}</a>
            {% endif %}
            {% endfor %}
            <hr>
            <p>{{price.price__avg}} tl ortalama fiyat hesaplandı.</p>  
            <p>{{price.price__max}} tl max fiyat hesaplandı</p>
            <p> {{price.price__min}} tl min fiyat hesaplandı</p>
        </div>
        
    </div>  
 
</div> 
{% endblock%}
{% block js_scripts %}<script src="{% static "js/script.js" %}"></script>{% endblock js_scripts %}